<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/campers.css">
    <title>Camper Management</title>
</head>
<body>
    <h1>Camper Management System</h1>
    <form id="register  camperForm">
        <label for="documento">Número de Documento:</label>
        <input type="text" id="documento" required><br>

        <label for="nombre">Primer Nombre:</label>
        <input type="text" id="nombre" required><br>

        <label for="nombre2">Segundo Nombre:</label>
        <input type="text" id="nombre2"><br>

        <label for="apellido">Primer Apellido:</label>
        <input type="text" id="apellido" required><br>

        <label for="apellido2">Segundo Apellido:</label>
        <input type="text" id="apellido2"><br>

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" required><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" required><br>

        <label for="acudiente">Nombre del Acudiente:</label>
        <input type="text" id="acudiente" required><br>

        <label for="celular">Número de Celular:</label>
        <input type="text" id="celular" required><br>

        <label for="fijo">Número de Teléfono Fijo:</label>
        <input type="text" id="fijo" required><br>

        <input type="hidden" id="updateId">
        <input type="submit" id="submitBtn" value="Agregar Camper">
    </form>

    <form id="pruebaInicialForm">
        <label for="idCamper">ID del Camper:</label>
        <input type="text" id="idCamper" required><br>

        <label for="notaPractica">Nota Práctica:</label>
        <input type="text" id="notaPractica" required><br>

        <label for="notaTeorica">Nota Teórica:</label>
        <input type="text" id="notaTeorica" required><br>

        <input type="submit" value="Registrar Prueba Inicial">
    </form>

    <div class="atras">
        <a href="../index.html">Atrás</a>
    </div>

    <div id="camperList">
        <h2>Lista de Campers</h2>
        <div id="campersContainer"></div>
    </div>
    <script src="../js/module/campers.js"></script>
</body>
</html>
