h1{
    color: rgb(231, 10, 10);
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ebacac;
}

#personstar {
    margin: 20px auto;
    max-width: 800px; 
}

body{
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-26_9578e6d4.jpeg?download=true');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#personstar table td {
    background-color: rgb(247, 247, 247); 
}